        .secDate{
        	float:left;
        	font-size:.5em;
        	margin-top: 2px;
        }
        .jDate{
        	float:right;
        	font-size:.65em;
        }
        
		#calendar{
			width:150px;
			table-layout: fixed;
		}
		#calendar td{
			
			height: 25px;
		}
		#calendar th{
			width:26px
		}
		#calendar caption{
			border:2px solid black;
			border-bottom: none;
		}
		td.color1{
			background-color: #EBE4DF;
		}
		td.color2{
			background-color: #D0CBD1;
		}
		td.color3{
			background-color: #B4B1B5;
		}
		.cal_link{
			text-decoration: none;
			margin: auto;
			margin-top: 55%;
			
		}